.git-auto-review {
  position: fixed;
  bottom: 0;
  background: #00000057;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #000;
  border-bottom: none;
  border-left: none;
  width: 300px;
  z-index: 9999999;
}
.git-auto-review ul {
  margin: 0;
  list-style: none;
  padding-left: 5px;
  background: wheat;
  border-top: 1px solid #000;
}
.git-auto-review ul li {
  display: block;
  padding: 0 10px 5px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: normal;
}
.git-auto-review ul li:hover {
  background: #ff000045;
}
.git-auto-review ul li a {
  color: #000;
}
.git-auto-review ul li a strong {
  color: red;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 5px;
}
.git-auto-review-waring {
  display: inline-block;
  margin-left: 10px;
  font-size: 25px;
  line-height: 25px;
  animation: git-auto-review-warning 1s infinite;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
.git-auto-review-line-active {
  animation: git-auto-review-line 4s infinite;
}
.git-auto-review-header {
  font-size: 20px;
  width: 100%;
  display: block;
  margin: 10px 0;
  padding-left: 15px;
  cursor: pointer;
  color: #d73a49;
}
.git-auto-review-list:empty {
  display: none;
}

.is_relative {
  position: relative;
}

@keyframes git-auto-review-warning {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
@keyframes git-auto-review-line {
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: blue;
  }
  100% {
    background: green;
  }
}
